* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px 'Roboto';
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: flex;
}

.avatar {
    width: 30%;
    border: 1px solid black;
}
.room {
    width: 70%;
    border: 1px solid black;
}

.main-chat {
    display: flex;
}

.menu-left {
    border: 1px solid black;
    height: 100vh;
    width: 30%;
}

.chat-window {
    width: 70%;
    border: 1px solid black;
    position: relative;
}

form {
    position: absolute;
    background: lightgray;
    padding: 3px;
    bottom: 39px;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    /* margin-right: .5%; */
}

form button {
    width: 9%;
    background: white;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}